{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Applied </title>
</head>
<body>
    {% for data in dataset %}
<dl style="box-shadow: 0 4px 8px 0 rgba(211,211,211,0.2);
transition: 0.3s; background-color: lightgray;
border-radius: 5px; width: 400px; margin-left: 20px; float: left; height: 500px;text-align: center; padding-top: 20px;"
>  
    <dt>Position</dt>  
    <dd>{{data.Position}}</dd>  
    <dt>Time</dt>  
    <dd>{{data.Time}}</dd>  
   <dt>Status</dt>  
   <dd>{{data.Status}}</dd>  
    <dt>Final Offer</dt>  
    <dd>{{data.FinalOffer}}</dd>
    <dt>Branchs</dt> 
    {% for branchds in data.Position.branch.all %}

{{branchds}}
<br>
{% endfor %}
  </dl> 
  

{% endfor %}
</body>
</html>
{% endblock %}