{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Current Offer</title>
</head>
<body>
    <table style="border:1px solid white;
    border-collapse: collapse;font-size: 25px;margin-left: 450px;text-align: center;"
  >
        <th style="border:1px solid white;width: 200px;text-align: center;
        border-collapse: collapse;background-color: #96D4D4;height: 40px;
" > Position </th><th  style="border:1px solid white;width: 200px;text-align: center;
    border-collapse: collapse;background-color: #96D4D4;height: 40px;
"> Time </th><th style="border:1px solid white;width: 200px;text-align: center;
    border-collapse: collapse;background-color: #96D4D4;height: 40px;
">Offer</th>
    {% for data in dataset %}
    
<tr style="border:1px solid white;
    border-collapse: collapse;">
        <td style="border:1px solid white; width: 200px;text-align: center;
        border-collapse: collapse;background-color: #96D4D4;height: 30px;
">{{data.Position}}
</td>
<td style="border:1px solid white;
border-collapse: collapse;background-color: #96D4D4;width: 200px;text-align: center;height: 30px;
">{{data.Status}}
</td>
<td style="border:1px solid white;
border-collapse: collapse;background-color: #96D4D4;width: 200px;text-align: center;height: 30px;
">{{data.FinalOffer}}
</td>
</tr>
    
  {% endfor %}
    </table>
</body>
</html>
{% endblock %}