{% extends 'base.html' %}
{% block content %}
{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Positions </title>
</head>
<body>
  <div style="
background-image: url('{% static "image/aa.jpeg"%}');
background-repeat:no-repeat;background-size:100% 100%;height:500px;padding-top:150px">
    
    <div style="width: 500px ;text-align:center;margin-left: 500px;font-size: large;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; background-color: lightslategrey;
  ">
    {% for Position in dataset %}
{{Position}}
<!--<br>
<a href="{% url 'AppliedStudent' Position.id %}">View List of Applied Student For This Position</a> -->
<br>
<form method="get" action="{% url 'AppliedStudent' Position.id %}">
<input type="submit" value="view applied student" ></form>
<hr> 
{% endfor %}

</div>
</div>
</body>

</html>
{% endblock %}