<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Current Offer</title>
</head>
<body>
    <div style="width: 100%; text-align: center;font-size: 30px;background-color: lightsteelblue;"><h1>Student Details</h1></div>
    <hr>
    <div style="width: 500px ;text-align:center;margin-left: 530px;font-size: large;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
"> 
    {% for data in dataset %}
<dl>  
    <dt>Position</dt>  
    <dd>{{data.Position}}</dd>  
    <dt>Time</dt>  
    <dd>{{data.Status}}</dd>  
   <dt>Offer</dt>  
   <dd>{{data.FinalOffer}}</dd>  
  </dl> 
  {% endfor %}
</body>
</html>