<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="width: 100%; text-align: center;font-size: 30px;background-color: lightsteelblue;"><h1>Student Details</h1></div>
    <hr>
    <div style="width: 500px ;text-align:center;margin-left: 530px;font-size: large;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
"> 

    {% if dataset is not None %}

<h4>Enrollment Number : </h4> {{dataset.enrollment_no}}
    <br>
    <h4>College :   </h4> {{dataset.School10}}
    <br>
<h4>Branch :   </h4> {{dataset.Branch}}
    <br>
    
    {% if dataset.ResumeURL %}
    <h4> 
    Resume : </h4> <a href="{{dataset.ResumeURL}}"> download Resume</a>
    {% endif %}

<h4> Applied Position : </h4> {% for pos in dataset.AppliedPositions.all %}
    {{pos}}
    <br>
    {% endfor %}
    {% endif %}
    </div>
    <form action="/applied">
        <input type="submit" value="Back" style="height: 30px;width: 100px;background-color: lightsteelblue;margin-left: 930px;">
    </form>
</body>
</html>